@font-face {
    font-family: "SabojCharulota";
    src: url(../fonts/SabojCharulota/Unicode/Li-Saboj\ Charulota\ Unicode.ttf) format("truetype");
}

@font-face {
    font-family: "LiAdor";
    src: url(../fonts/LiAdorNoirritMultiweight/Unicode/Li\ Ador\ Noirrit\ Regular.ttf) format("truetype");
}


* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}

.form-control:focus {
    box-shadow: none;
}

input:focus, textarea:focus, select:focus {
    box-shadow: none;
    outline: unset;
}

body {
    font-family: "SabojCharulota" !important;
}

/* font-family: 'Manrope', sans-serif !important; */

/* =============== COMMON CSS FOR WEB SITE =============== */
:root {
    --header_color: #160F4B;
    --bg_color: #FF466D;
    --text_color: #878497;
    --white_color: #FFF;
}

h1 {
    font-weight: 400;
    font-size: 55px;
    line-height: 94px;
    color: var(--bg_color);
}

h2 {
    font-weight: 400;
    font-size: 42px;
    line-height: 55px;
    color: var(--header_color);
}

h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}

h5{
    font-family: "LiAdor";
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text_color);
}

a {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    display: inline-block;
}

a.bg, button.bg{
    background: #FF466D;
    box-shadow: 0px 25px 46.8519px rgba(30, 20, 10, 0.1931);
    border-radius: 16px;
    padding: 18px 50px;
    color: var(--white_color);
    margin-top: 30px;
}

.d_flex {
    display: flex;
    align-items: center;
}

.d_justify {
    justify-content: space-between;
}

.section_gaps {
    padding-top: 130px;
}


input, label, textarea{
    font-size: 16px;
}

button{
    border: none;
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START banner PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#banner{
    background: url('../images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.banner_content .text{
    margin-top: 40px;
}

.banner_content h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
}

.banner_content h4{
    margin-top: 50px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: var(--bg_color);
}

.banner_content  h5{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--header_color);
    margin-top: 10px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START delivary PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#delivary{
    background: var(--bg_color);
}

.delivary_item{
    text-align: center;
    position: relative;
    padding: 50px 0;
}

.delivary_item .img img {
    height: 60px;
}

.delivary_border {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.delivary_item h3{
    color: var(--white_color);
    margin-top: 20px;
}

#delivary .fram img{
    width: 100%;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START price PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */

.price_img{
    position: relative;
}

.price_img img{
    width: 100%;
}

.price_img .overlay_text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.price_img .overlay_text a.bg{
    margin-top: 5px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START customized PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#customized{
    background: #FEF5F5;
    padding: 120px 0;
}

#customized h2{
    text-align: center;
}

.customized_content{
    margin-top: 60px;
}

.customized_item{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    transition: all linear .3s;
}

.customized_item.last_child{
    margin-bottom: 0;
}

.customized_item .customized_border{
    border: 1px solid var(--bg_color);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.customized_item .img {
    width: 90px;
    height: 85px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0 auto;
}

.customized_item .text{
    margin-top: 20px;
}

.customized_item .text h3{
    transition: all linear .2s;
}

.customized_item .text p{
    margin-top: 10px;
    transition: all linear .3s;
}

.customized_item:hover {
    background: var(--bg_color);
}

.customized_item:hover .customized_border{
    border: 1px solid var(--white_color);
}

.customized_item:hover h3, .customized_item:hover p{
    color: var(--white_color);
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START video PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
.video_item iframe{
    border-radius: 20px;
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START price PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
.order h2{
    color: var(--white_color);
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START gallery PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */

.gallery{
    position: relative;
}

.gallery .overlay_img {
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
}

.gallery_content{
    margin-top: 60px;
}

.gallery .gallery_item{
    margin-bottom: 30px;
}

.gallery .gallery_item.last_child{
    margin-bottom: 0;
}

.gallery .gallery_item img{
    border-radius: 10px;
    width: 100%;
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START customer_review PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#customer_review{
    margin-top: 80px;
}

.customer_review_content{
    margin-top: 60px;
}

.customer_review_content .img{
    margin-bottom: 30px;
}

.customer_review_content .img.last_child{
    margin-bottom: 0;
}

.customer_review_content img{
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START form_part PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#form_part{
    padding: 100px 0;
    background: url('../images/form-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form_part h2{
    color: var(--white_color);
}

.form_part_content{
    margin-top: 60px;
}

.form_part_content h3{
    color: var(--white_color);
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.custome_input{
    margin-top: 20px;
}

.custome_input label{
    color: var(--white_color);
    margin-bottom: 15px;
    display: inline-block;
}

.custome_input label span{
    color: #E11E00;
    margin-left: 5px;
}

.custome_input input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid var(--text_color);
    color: var(--white_color);
}

.payment{
    background: #FFFFFF;
    box-shadow: 0px -68px 80px rgba(0, 0, 0, 0.03), 0px 35px 46.8519px rgba(0, 0, 0, 0.0227778), 0px -3px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
    border-radius: 8px;
    width: 285px;
    margin-top: 50px;
}

.payment h4{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: var(--bg_color);
    padding: 20px;
}

.payment .checkbox{
    padding: 20px;
    padding-top: 0;
    margin-top: 0;
}

.payment .checkbox input{
    color: var(--header_color);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.payment .checkbox label{
    color: var(--header_color);
    margin-bottom: 0;
}

.arrow_bg {
    background: var(--bg_color);
    position: relative;
    border-radius: 0 0 7px 7px;
}

.arrow_bg::after {
    position: absolute;
    content: '';
    top: -15px;
    left: 20%;
    width: 30px;
    height: 15px;
    border-bottom: solid 15px var(--bg_color);
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

.arrow_bg p{
    font-family: 'Manrope', sans-serif;
    color: var(--white_color);
    padding: 10px 20px;
}

.product_part{
    border: 1px solid var(--text_color);
    margin-top: 30px;
    border-radius: 10px;
}


.product_part ul li{
    padding: 20px;
    border-bottom: 1px solid var(--text_color);
}

.product_part ul li:last-child{
    border-bottom: 0;
}

.product_part ul li p{
    font-family: 'Manrope', sans-serif;
    color: var(--white_color);
}

.product_part ul li .left{
    width: 70%;
}

.product_part ul li .left .img{
    margin-right: 10px;
}

.product_part ul li .left .text h4{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: var(--white_color);
}

.product_part ul li .middle{
    width: 5%;
}

.product_part ul li .middle span{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: var(--white_color);
}

.product_part ul li .amount{
    width: 25%;
    text-align: right;
}

.product_part ul li .amount h3{
    font-size: 18px;
    line-height: 24px;
    color: var(--white_color);
}

.product_part ul li h5{
    font-size: 18px;
    line-height: 24px;
    color: var(--white_color);
}

.product_part .outside .item{
    margin-bottom: 15px;
}

.product_part .outside .item:last-child{
    margin-bottom: 0;
}

.product_part .outside .item label{
    color: var(--white_color);
    margin-left: 10px;
    font-family: "LiAdor";

}

.product_part .outside .item input{
    width: 20px;
    height: 20px;
    font-family: "LiAdor";
}

.form_part_content .dexcription {
    margin-top: 20px;
}

.form_part_content .dexcription p{
    font-family: 'Manrope', sans-serif;
    color: var(--white_color);
    font-weight: 300;
    line-height: 28px;
}

.form_part_content .dexcription p a{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
    color: var(--bg_color);
}

.form_part_content .dexcription button{
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    border-radius: 10px;
}

.form_part_content .dexcription button svg{
    margin-right: 10px;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
